@import  '../../styles.scss';

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-grid-list {
    margin-top: 50px;
    width:80%;
    mat-grid-tile {
      .tile {
        border : 1px solid black;
        border-radius:70px;
        width: 600px;
        height: 200px;
        color : white;
        font-size: 30px;
        font-weight:bolder;
        text-align:center;
        vertical-align: middle;
        line-height: 200px;
        cursor:pointer;
        mat-icon {
          font-size:35px;
          vertical-align: -20%;
        }
      }
    }
  }
}
