<div class="container">
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <div class="tile bg-green">
        <mat-icon>settings</mat-icon> &nbsp; Settings
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile bg-pink">
        <mat-icon>view_list</mat-icon> &nbsp; Rooms
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile bg-yellow" (click)=goToPlaylistsPage()>
        <mat-icon>list</mat-icon> &nbsp; Playlists
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile bg-violet" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon> &nbsp; Logout
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>